<h1>Browse</h1>

<div ng-show="browseCtrl.table">

    <p>Browsing table : <strong>{{browseCtrl.table.name}}</strong> - showing <strong>{{browseCtrl.table.pagination.showing}}</strong> rows of <strong>{{browseCtrl.table.pagination.total}}</strong></p>

    <div ng-show="browseCtrl.table.pagination.pages > 1">
        <cf-pagination pagination="browseCtrl.table.pagination" callback="browseCtrl.changePage"></cf-pagination>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th ng-repeat="field in browseCtrl.table.fields">
                    {{field.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in browseCtrl.table.rows">
                <td ng-repeat="cell in row">
                    {{cell.value}}
                </td>
            </tr>
        </tbody>
    </table>

</div>