<div ng-show="browseCtrl.table" class="row">

    <div class="columns small-12 cf-browse">
    <h2 class="text-center-screen">Browsing <strong>{{browseCtrl.table.name}}</strong> table in <strong>{{browseCtrl.navigation.params.database}}</strong> database</h2>

        <div class="row collapse cf-row-count">
            <div class="columns large-6">
                <a href="/Databases/{{browseCtrl.navigation.params.database}}/Tables" class="button left"><i class="glyphicon glyphicon-chevron-left"></i> Back to {{browseCtrl.navigation.params.database}} tables</a>
            </div>
            <div class="columns large-1 medium-2 small-3">
                <span class="prefix">Showing</span>
            </div>
            <div class="columns large-1 medium-2 small-2">
                <input type="text" ng-model="browseCtrl.table.pagination.showing" class="text-center"/>
            </div>
            <div class="columns large-2 medium-2 small-5 left">
                <span class="postfix">rows of {{browseCtrl.table.pagination.total}}</span>
            </div>
            <div class="columns large-2 medium-2 small-2 left">
                <span class="button postfix" ng-click="browseCtrl.loadTable()">Go</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <div ng-show="browseCtrl.table.pagination.pages > 1">
            <cf-pagination pagination="browseCtrl.table.pagination" callback="browseCtrl.changePage"></cf-pagination>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <table>
            <thead>
            <tr>
                <th ng-repeat="field in browseCtrl.table.fields">
                    {{field.name}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in browseCtrl.table.rows">
                <td ng-repeat="cell in row">
                    {{cell.value}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>