<md-toolbar class="demo-toolbar md-secondary md-default-theme">
    <div class="md-toolbar-tools">
        <h1 class="ng-binding">Databases</h1>
    </div>
</md-toolbar>

<div class="row push-down">
    <div class="columns medium-6">
        <a href="#" class="button left expand"><i class="fi-plus"></i> Create Database</a>
    </div>

    <div class="columns medium-3">
        <a href="#" ng-click="gridView=true" class="button right expand"><i class="fi-thumbnails"></i> Grid View</a>
    </div>
    <div class="columns medium-3">
        <a href="#" ng-click="gridView=false" class="button right expand"><i class="fi-list"></i> List View</a>
    </div>
</div>

<ul>
    <li ng-repeat="(name, param) in databaseCtrl.params">
        <pre>{{name}} = {{param}}</pre>
    </li>
</ul>

<div ng-show="gridView" class="row">

    <div class="columns small-12">
        <div class="large-4 small-6 columns left cf-grid-box" ng-repeat="database in databaseCtrl.databases">
            <div class="row">
                <h4 class="cf-db-name"><a href="Databases/{{database.name}}/Tables"></a>{{database.name}}</h4>
            </div>
            <div class="row">
                <h5 class="cf-db-table-count">{{database.tableCount}} tables</h5>
            </div>
            <div class="row">
                <div class="columns small-6 text-center">
                    <a href="Databases/{{database.name}}/Tables"><i class="fi-pencil"></i></a>
                </div>
                <div class="columns small-6 text-centers">
                    <i class="fi-x"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-show="!gridView" class="row">

    <div class="columns medium-6">
        <table>
            <thead>
            <tr>
                <th width="350">Database</th>
                <th width="50" class="text-center">Tables</th>
                <th width="50"></th>
                <th width="50"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="database in databaseCtrl.databases">
                <td>{{database.name}}</td>
                <td class="text-center">{{database.tableCount}}</td>
                <td class="text-center"><a href="Databases/{{database.name}}/Tables"><i class="fi-pencil"></i></a></td>
                <td class="text-center"><i class="fi-x"></i></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).foundation();
</script>