<div class="row">
    <h2>Databases</h2>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary">Create Database</button>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-class="{active:main.settings.viewType == 'grid'}" ng-click="main.settings.viewType = 'grid'">Grid View</button>
    <button type="button" class="btn btn-default" ng-class="{active:main.settings.viewType != 'grid'}" ng-click="main.settings.viewType = 'list'">List View</button>
</div>

<ul>
    <li ng-repeat="(name, param) in databaseCtrl.params">
        <pre>{{name}} = {{param}}</pre>
    </li>
</ul>

<div ng-show="main.settings.viewType == 'grid'" class="row">

    <div class="columns small-12">
        <div class="large-4 small-6 columns left cf-grid-box" ng-repeat="database in databaseCtrl.databases">
            <div class="row">
                <h4 class="cf-db-name"><a href="Databases/{{database.name}}/Tables"></a>{{database.name}}</h4>
            </div>
            <div class="row">
                <h5 class="cf-db-table-count">{{database.tableCount}} tables</h5>
            </div>
            <div class="row">
                <div class="columns small-6 text-center">
                    <a href="Databases/{{database.name}}/Tables" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                </div>
                <div class="columns small-6 text-centers">
                    <i class="fi-x"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-show="main.settings.viewType != 'grid'" class="row">

    <div class="columns medium-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="350">Database</th>
                <th width="50" class="text-center">Tables</th>
                <th width="50"></th>
                <th width="50"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="database in databaseCtrl.databases">
                <td>{{database.name}}</td>
                <td class="text-center">{{database.tableCount}}</td>
                <td class="text-center"><a href="Databases/{{database.name}}/Tables"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td class="text-center"><i class="fi-x"></i></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
