<h1>Log In</h1>

<div ng-show="!main.auth.loggedIn">
    <p>This is a temporary login form, just use the sample credentials provided for now.</p>


    <form ng-submit="loginCtrl.login()">

        <md-input-container flex>
            <label>Username</label>
            <input ng-model="loginCtrl.username">
        </md-input-container>

        <md-input-container flex>
            <label>Password</label>
            <input ng-model="loginCtrl.password" type="password">
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Log In</md-button>
    </form>

</div>

<div ng-show="main.auth.loggedIn">
    <p>You are now logged in :)</p>
</div>
