<h1>Log In</h1>

<div ng-show="!main.auth.loggedIn">
    <p>This is a temporary login form, just use the sample credentials provided for now.</p>
    <ul>
        <li>
            <label for="username">Username : </label>
            <input type="text" id="username" ng-model="loginCtrl.username"/>
        </li>
        <li>
            <label for="password">Password : </label>
            <input type="password" id="password" ng-model="loginCtrl.password"/>
        </li>
    </ul>
    <button class="button" ng-click="loginCtrl.login()">Log in</button>
</div>

<div ng-show="main.auth.loggedIn">
    <p>You are now logged in :)</p>
</div>
