<h2>Tables template</h2>
<ul>
    <li>debug : {{tableCtrl.debug}}</li>
</ul>

<div ng-show="tableCtrl.tables">
    <ul>
        <li ng-repeat="table in tableCtrl.tables">
            {{table.name}} -
            <a href="/Databases/{{tableCtrl.navigation.params.database}}/Tables/{{table.name}}/">Structure</a>
            -
            <a href="/Databases/{{tableCtrl.navigation.params.database}}/Tables/{{table.name}}/browse/">Browse</a>
        </li>
    </ul>
</div>

<ul>
    <li ng-repeat="(name, param) in tableCtrl.navigation.params">
        <pre>{{name}} = {{param}}</pre>
    </li>
</ul>
